<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/swanky-purse/jquery-ui.css">
    <link th:href="@{/jquery-datatables-editable/datatables.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title>Bus Tracking System | Parents</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/students}">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/map}">Map</a>
          </li>
          <li class="nav-item active" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/parents}">Parents</a>
          </li>
          <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/users}">Users</a>
          </li>
          <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/bus-boarding-history}">Bus History</a>
          </li>
        </ul>
        <div class="pull-right">
         <a class="nav-link" th:href="@{/logout}"><i class="fa fa-sign-out"></i></a>
        </div> 
      </div>
    </nav>
    <div class="search-bar container">
        <div class="row">
            <div class="col-sm">
            <br/>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#parentModal">
            New Parent</button><br/><br/> 
                    <div class="input-field">
                        <h3>Details of Parents</h3>
                    </div>
            </div>
        </div>
    </div><br/>
    <div class="container">
        <div class="col-sm">
            <form id="" method="post">
								<table class="table table-bordered table-striped" id="datatable">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name of Parent</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="parent : ${parents}">
											<input type="hidden" th:value="${parent.id}"/>
											<input type="hidden" th:value="${parent.firstName}"/>
											<input type="hidden" th:value="${parent.lastName}"/>
											<td th:text="${parent.id}">id</td>
											<td th:text="${parent.firstName + ' ' + parent.lastName}">Full name</td>
											<td class="actions"><a href="#"
												class="on-default edit-petition-body edit" data-toggle="modal" data-target="#parentModal">
												<i class="fa fa-edit"></i></a></td>
										</tr> 
									</tbody>
								</table>
								</form>
        </div>
        <input type="button" id="cl" value="print a div!" />
    </div>

  <div class="modal fade" id="parentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title title" style="color: #07689F;">Add New Parent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <form th:action="@{/parents}" method="post" th:object="${parent}" id="parentForm">
            <div class="table-responsive">
				<table class="table table-borderless" style="border:none !important;">
				           <tr>
				           <input type="hidden" id="typeId" name="id"/>
				           </tr>
							  <tr>
							  <td>
							  <label for="firstname" class="form-label"></label>
							  <input type="text" class="form-control clear firstname required" placeholder="First Name of parent .." 
							  id="firstname" name="firstname" th:field="*{firstName}" /> 
							  </td>
					           </tr>
					           <tr>
							  <td>
							  <label for="lastname" class="form-label"></label>
							  <input type="text" class="form-control clear lastname required" placeholder="Last Name of parent .." 
							  id="lastname" name="lastname" th:field="*{lastName}"/> 
							  </td>
					           </tr>
					            <tr class="uname">
							  <td>
							  <label for="username" class="form-label"></label>
							  <input type="text" class="form-control clear username required" placeholder="Username of parent .." 
							  id="username" name="username" th:field="*{user.username}"> 
							  </td>
					           </tr>
					            <tr class="pword">
							  <td>
							  <label for="password" class="form-label"></label>
							  <input type="password" class="form-control clear password required" placeholder="Password of parent .." 
							  id="password" name="password" th:field="*{user.password}" minlength="4"> 
							  </td>
					           </tr>
					         </table>	 
			              </div>
		                   <div class="modal-footer">
        <button type="button" class="btn btn-default exit" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
        <button type="submit" class="btn btn-primary save"><i class="fa fa-save" aria-hidden="true"></i> Save </button>
                              </div>
                              </form>
                             </div>
    </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script th:src="@{/jquery.validate.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#datatable').dataTable();
	
	$("#parentForm").validate({
		errorClass: "ui-state-error",
		errorPlacement: function(error, element) {
			if (element.is(":radio")) {
				$("<br>").appendTo( element.parent().parent().find("label:first"));
				error.appendTo( element.parent().parent().find("label:first"));
			} else {
				$("<br>").appendTo( element.parent().find("label"));
				error.appendTo( element.parent().find( "label"));
			}
		}
	});
	
$("#datatable").on('click', '.edit', function(){
		
	$(".title").text("Update Parent");
	$(".save").text("Update");
	
	var currentRow=$(this).closest('tr');
	var id=currentRow.find("input:eq(0)").val();
	var firstName=currentRow.find("input:eq(1)").val();
	var lastName=currentRow.find("input:eq(2)").val();
	
	$(".uname").hide();
	$(".pword").hide();
	
	//remove required attribute on fields if its an update
	$(".username").removeAttr("required");
	$(".password").removeAttr("required");
	
	$("#typeId").val(id); 
	$(".firstname").val(firstName);
	$(".lastname").val(lastName);
		
	});
	
$(".exit").on('click', function(){
	location.reload(true);
});

/* function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
} */

$("#cl").on('click', function(){
	var printContents = document.getElementById("form1").innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
});


});
</script>
</body>
</html>