<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" />
    <link th:href="@{/jquery-datatables-editable/datatables.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title>Bus Tracking System | Users</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <a th:href="@{/}" class="brand-logo">busTracking</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                <li><a th:href="@{/map}">Show Map</a></li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/}">Students</a></li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/parents}">Parents</a></li>
                    <li class="active" sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/users}">Users</a></li>
                </ul>
                <ul id="mobile-nav" class="side-nav">
                <li><a th:href="@{/map}">Show Map</a></li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/}">Students</a></li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/parents}">Parents</a></li>
                    <li class="active" sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/users}">Users</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="search-bar container">
        <div class="row">
            <div class="col s12">
            <br/>
                    <div class="input-field">
                        <h3>Details of Users</h3>
                    </div>
            </div>
        </div>
    </div>
    <div class="gifs container">
        <div class="row">
            <form id="" method="post">
								<table class="table table-bordered table-striped" id="datatable">
									<thead>
										<tr>
											<th>Id</th>
											<th>Username</th>
											<th>Role</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user, userStat : ${users}">
											<td th:text="${user.id}">id</td>
											<td th:text="${user.username}">Username</td>
											<td th:text="${user.role.name}">Role</td>
										</tr> 
									</tbody>
								</table>
								</form>
        </div>
    </div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/bootstrap.min.js}"></script>
<script th:src="@{/jquery-datatables-editable/jquery.dataTables.js}"></script> 
<script th:src="@{/jquery-datatables-editable/dataTables.bootstrap.js}"></script>
<script th:src="@{/jquery-datatables-editable/datatables.editable.init.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#datatable').dataTable();
});
</script>
</body>
</html>